In [2]:
from videha.synthesizers import TwinSynthesizer
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
discrete_columns = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
    "income",
]

## Normal API

In [12]:
data = pd.read_csv("examples/csv/adult.csv")
synth = TwinSynthesizer(data, discrete_columns)

In [13]:
synth.fit(epochs=5)

Epoch: [0]  [ 0/64]  eta: 0:00:10  loss_g: 2.1462 (2.1462)  loss_d: -0.0009 (-0.0009)  loss: 2.1453 (2.1453)  time: 0.1609  data: 0.0000
Epoch: [0]  [50/64]  eta: 0:00:01  loss_g: 1.3982 (1.6815)  loss_d: -0.5013 (-0.5107)  loss: 0.9655 (1.1708)  time: 0.0933  data: 0.0000
Epoch: [0]  [64/64]  eta: 0:00:00  loss_g: 1.3930 (1.6178)  loss_d: -0.1916 (-0.4384)  loss: 1.1449 (1.1795)  time: 0.0975  data: 0.0000
Epoch: [0] Total time: 0:00:06
Epoch: [1]  [ 0/64]  eta: 0:00:05  loss_g: 1.5688 (1.5688)  loss_d: -0.3247 (-0.3247)  loss: 1.2441 (1.2441)  time: 0.0915  data: 0.0000
Epoch: [1]  [50/64]  eta: 0:00:01  loss_g: 1.0889 (1.2075)  loss_d: 0.1634 (0.0563)  loss: 1.2490 (1.2638)  time: 0.0968  data: 0.0000
Epoch: [1]  [64/64]  eta: 0:00:00  loss_g: 1.3591 (1.2503)  loss_d: -0.0030 (0.0295)  loss: 1.3084 (1.2798)  time: 0.0979  data: 0.0000
Epoch: [1] Total time: 0:00:06
Epoch: [2]  [ 0/64]  eta: 0:00:06  loss_g: 1.3624 (1.3624)  loss_d: 0.1052 (0.1052)  loss: 1.4676 (1.4676)  time: 0.0988  data: 0.0000
Epoch: [2]  [50/64]  eta: 0:00:01  loss_g: 1.1332 (1.2331)  loss_d: 0.0864 (0.0860)  loss: 1.2751 (1.3191)  time: 0.0956  data: 0.0000
Epoch: [2]  [64/64]  eta: 0:00:00  loss_g: 1.1184 (1.1927)  loss_d: -0.0716 (0.0520)  loss: 1.0322 (1.2446)  time: 0.0950  data: 0.0000
Epoch: [2] Total time: 0:00:06
Epoch: [3]  [ 0/64]  eta: 0:00:05  loss_g: 0.9054 (0.9054)  loss_d: 0.0692 (0.0692)  loss: 0.9745 (0.9745)  time: 0.0915  data: 0.0000
Epoch: [3]  [50/64]  eta: 0:00:01  loss_g: 0.9411 (0.8539)  loss_d: -0.0671 (0.0067)  loss: 0.8520 (0.8606)  time: 0.1016  data: 0.0000
Epoch: [3]  [64/64]  eta: 0:00:00  loss_g: 0.7079 (0.8182)  loss_d: 0.0812 (0.0326)  loss: 0.8176 (0.8509)  time: 0.0959  data: 0.0000
Epoch: [3] Total time: 0:00:06
Epoch: [4]  [ 0/64]  eta: 0:00:06  loss_g: 0.9834 (0.9834)  loss_d: -0.1290 (-0.1290)  loss: 0.8544 (0.8544)  time: 0.0931  data: 0.0000
Epoch: [4]  [50/64]  eta: 0:00:01  loss_g: 0.3467 (0.5026)  loss_d: 0.0992 (0.0142)  loss: 0.4037 (0.5169)  time: 0.0955  data: 0.0000
Epoch: [4]  [64/64]  eta: 0:00:00  loss_g: 0.2176 (0.4360)  loss_d: 0.0195 (0.0122)  loss: 0.1895 (0.4482)  time: 0.0968  data: 0.0000
Epoch: [4] Total time: 0:00:06

In [14]:
sampled_data = synth.sample(n=50)
sampled_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,32,Private,289557,Prof-school,9,Never-married,Sales,Own-child,Black,Male,-12,-2,39,United-States,<=50K
1,25,Private,230539,HS-grad,10,Married-civ-spouse,Craft-repair,Own-child,Black,Male,16,3,39,United-States,<=50K
2,47,Private,291352,Prof-school,10,Never-married,Machine-op-inspct,Husband,Amer-Indian-Eskimo,Male,7408,-3,39,Puerto-Rico,<=50K
3,24,Federal-gov,217830,Some-college,9,Never-married,?,Other-relative,White,Male,-55,2,56,United-States,<=50K
4,44,Private,151266,Bachelors,10,Divorced,Transport-moving,Own-child,White,Male,34,6,40,Trinadad&Tobago,>50K

## Adversarial API

In [17]:
data = pd.read_csv("examples/csv/adult.csv")
synth = TwinSynthesizer(data, discrete_columns)

In [18]:
synth.fit_adversarial(epochs=5)

Generating train and test splits ...
TRAIN SAMPLES: n=27676
TEST SAMPLES: n=4885
Epoch: [0]  [ 0/64]  eta: 0:00:16  loss_g: 2.1732 (2.1732)  loss_d: 0.0237 (0.0237)  loss: 2.1969 (2.1969)  time: 0.2500  data: 0.0000
Epoch: [0]  [50/64]  eta: 0:00:01  loss_g: 1.9244 (2.0832)  loss_d: -0.5054 (-0.6205)  loss: 1.3350 (1.4627)  time: 0.0971  data: 0.0000
Epoch: [0]  [64/64]  eta: 0:00:00  loss_g: 1.9331 (2.0483)  loss_d: -0.4390 (-0.5537)  loss: 1.5941 (1.4946)  time: 0.0984  data: 0.0000
Epoch: [0] Total time: 0:00:06
Epoch: [1]  [ 0/64]  eta: 0:00:06  loss_g: 1.6248 (1.6248)  loss_d: -0.1357 (-0.1357)  loss: 1.4891 (1.4891)  time: 0.1000  data: 0.0000
Epoch: [1]  [50/64]  eta: 0:00:01  loss_g: 1.5056 (1.5999)  loss_d: 0.0608 (0.0416)  loss: 1.6390 (1.6415)  time: 0.0986  data: 0.0000
Epoch: [1]  [64/64]  eta: 0:00:00  loss_g: 1.4407 (1.5630)  loss_d: 0.2053 (0.0816)  loss: 1.6390 (1.6446)  time: 0.0925  data: 0.0000
Epoch: [1] Total time: 0:00:06
Epoch: [2]  [ 0/64]  eta: 0:00:06  loss_g: 1.7784 (1.7784)  loss_d: 0.0060 (0.0060)  loss: 1.7843 (1.7843)  time: 0.0927  data: 0.0000
Epoch: [2]  [50/64]  eta: 0:00:01  loss_g: 1.2810 (1.4704)  loss_d: 0.0916 (0.0798)  loss: 1.3830 (1.5502)  time: 0.0920  data: 0.0000
Epoch: [2]  [64/64]  eta: 0:00:00  loss_g: 1.0167 (1.3742)  loss_d: -0.0228 (0.0496)  loss: 1.0273 (1.4239)  time: 0.0922  data: 0.0000
Epoch: [2] Total time: 0:00:06
Epoch: [3]  [ 0/64]  eta: 0:00:05  loss_g: 1.1930 (1.1930)  loss_d: -0.0243 (-0.0243)  loss: 1.1687 (1.1687)  time: 0.0908  data: 0.0000
Epoch: [3]  [50/64]  eta: 0:00:01  loss_g: 0.7244 (0.7652)  loss_d: 0.0748 (0.0468)  loss: 0.7710 (0.8120)  time: 0.1037  data: 0.0000
Epoch: [3]  [64/64]  eta: 0:00:00  loss_g: 0.8793 (0.8042)  loss_d: -0.0216 (0.0226)  loss: 0.8635 (0.8268)  time: 0.1215  data: 0.0000
Epoch: [3] Total time: 0:00:06
Epoch: [4]  [ 0/64]  eta: 0:00:09  loss_g: 0.7085 (0.7085)  loss_d: 0.0744 (0.0744)  loss: 0.7829 (0.7829)  time: 0.1534  data: 0.0000
Epoch: [4]  [50/64]  eta: 0:00:02  loss_g: 0.4030 (0.5718)  loss_d: -0.0217 (0.0289)  loss: 0.3855 (0.6007)  time: 0.1354  data: 0.0000
Epoch: [4]  [64/64]  eta: 0:00:00  loss_g: 0.2815 (0.5039)  loss_d: 0.0432 (0.0345)  loss: 0.3250 (0.5384)  time: 0.1343  data: 0.0000
Epoch: [4] Total time: 0:00:09

In [19]:
# sample_adversarial uses a random forest classifier 
# (https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)
# to classify the best samples
rf_params = dict(n_estimators=50, random_state=42, verbose=0)
sampled_data = synth.sample_adversarial(n=500, rf_params=rf_params)
sampled_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,27,Self-emp-inc,132671,9th,10,Married-civ-spouse,Prof-specialty,Husband,Other,Male,-29,1,23,?,>50K
1,54,Self-emp-not-inc,52563,11th,9,Married-civ-spouse,Craft-repair,Husband,White,Female,-46,0,52,United-States,>50K
2,51,Self-emp-inc,172135,1st-4th,8,Married-civ-spouse,Prof-specialty,Not-in-family,White,Male,-27,1681,3,Mexico,<=50K
3,61,Private,20061,Bachelors,6,Never-married,Prof-specialty,Not-in-family,Black,Male,0,2,56,Mexico,<=50K
4,33,?,362320,HS-grad,14,Divorced,Other-service,Own-child,Asian-Pac-Islander,Male,123,0,37,United-States,<=50K

## Save and Load Pretrained

In [27]:
# Saves the whole genrator along with the discirminator
synth.save_checkpoint(path='temp.pt')

'temp.pt'

In [28]:
# Load model from checkpoint and sample data
data = pd.read_csv("examples/csv/adult.csv")
init_kwargs = dict(data=data, discrete_columns=discrete_columns)
synth = TwinSynthesizer.load_from_checkpoint('temp.pt', **init_kwargs)
sampled = synth.sample_adversarial()
sampled.head()

Loading pretrained from temp.pt ...

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    1.0s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 100 out of 100 | elapsed:    0.0s finished

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,23,Local-gov,278691,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,20,United-States,>50K
1,36,Private,3128,Assoc-voc,12,Married-civ-spouse,Exec-managerial,Husband,White,Female,-8,0,37,United-States,<=50K
2,53,?,83354,Masters,0,Widowed,Farming-fishing,Unmarried,White,Male,15030,-6,12,Ecuador,<=50K
3,44,Private,46149,Some-college,12,Married-civ-spouse,Farming-fishing,Not-in-family,White,Female,5904,0,18,United-States,<=50K
4,19,Private,710788,HS-grad,11,Married-civ-spouse,Priv-house-serv,Husband,White,Male,-23,0,2,Japan,>50K